.card {
  position: relative;
  height: 210px;
  border-radius: 5px;
  color: white;
  background-size: cover;
  margin-bottom: 10px;
  text-align: justify;

  h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  }

  p {
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 5px;
  }
}

.card-category {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-user {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
