.footer {
  font-size: 13px;
  padding: 40px 0;
  background-color: #333;
  color: #eee;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  font-size: 28px;
  color: #eee;
}

.footer a:hover {
  color: #FAFF78;
}

.footer p {
  margin-bottom: 0;
  margin-right: 60px;
}

.footer li {
  margin-right: 20px;
}

.footer ul {
  margin-left: 60px;
}
