.footer {
  font-size: 13px;
  padding: 40px 0;
  background-color: $gray-dark;
  color: $gray-lighter;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
  font-size: 28px;
  color: #eee;
  }

  & a:hover {
  color: $brand-warning;
  }

  p {
  margin-bottom: 0;
  margin-right: 60px;
  }

  li {
  margin-right: 20px;
  }

  ul {
  margin-left: 60px;
  }

}
